body {
    text-align: center;
}

.book {
    text-align: left;
    width: 780px;
    margin: 0 auto;
}


section:before
{
    content: "Thimble mag!";
    color: #FF0000;
    font-size: 15px;
    display: block;
    margin-bottom: 20px;
}

section {
    width: 390px;
    float: left;
    margin-top: 10px;
}


h1 {
    font-size: 45px;
    margin: 0;
}

